* {
    padding: 5px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-wrap-style: balance;
    align-content: center;
}

.center-flex {
    display: flex;
    text-align: center;
    justify-content: center;
}

.home-background {
    background-color: blueviolet;
}
img {
    display: table-row;
    width: 150px;
    height: 150px;
}

body, a {
    color: aqua;
    text-decoration: none;
}
ul {
    list-style-type: none;
}